<% if @orders.count == 0 %>
  <h4> No orders in the system yet! </h4>
<% else %>
  <%= form_tag ship_orders_path, method: :patch do %>
    <% @orders.each do |key, value| %>
      <%  next if key == "pending" && value.count == 1 && value.first.total.to_i == 0 %>
      <div class="panel panel-info">
        <div class="panel-heading">
          Order status: <strong><%=key%>
        </div>
          <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <% if key == "paid" %>
                    <th></th>
                  <% end %>
                  <th>Order id</th>
                  <th>Order date</th>
                  <th>Total</th>
                  <th>Customer name</th>
                </tr>
              </thead>
              <tbody>
                <% value.each do |item| %>
                  <% if item.total.to_i > 0 %>
                    <tr>
                      <% if key == "paid" %>
                        <td><%= check_box_tag "order_ids[]", item.id %></td>
                      <% end %>
                      <td><%= link_to item.id, order_path(id: item.id), method: :get, remote: true,
                        'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true %>
                      </td>
                      <td><%= item.updated_at.strftime("%A, %b %d %Y")%></td>
                      <td><%= number_to_currency item.total %></td>
                      <td><%= item.user.user_name %></td>
                    </tr>
                  <% end %>
                <% end %>

              </tbody>

          </table>
          <% if key == "paid" %>
            <%= submit_tag "Ship it!", class: "btn btn-primary" %>
          <% end %>
      </div>

    <% end %>
  <% end %>

<% end %>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Order details</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
