<h3>Edit User information</h3>
<%= simple_form_for @user, url: update_user_path do |f| %>
  <%= f.input:email, disabled: true %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.submit "Update" %>
<% end %>
