

<% if !user_signed_in? %>
  <%=render partial: 'layouts/carousel' %>
<% else %>
  <% if params[:search].present? %>
    <%= pluralize @products.length, 'product' %> found
    <br><br>
  <% end %>
  <% if @products.length > 0 %>
    <%= paginate @products %>
    <% @products.in_groups_of(3, false) do |products| %>
      <div class="row">
        <% products.each do |product| %>
          <div class="card-container">
            <div class="col-md-3 card">
              <div style="opacity: 0; z-index: 1; width: 300px; height: 300px; left: 0%" class="fdw-background">
                <h4> <%= product.title %> </h4>
              </div>
              <div class="pricebox">
                  <p class="price"> <%= number_to_currency product.list_price %> </p>
              </div>
              <div class="card-inner">
                <%= link_to product do %>
                  <%= image_tag product.image.url(:view), size: "200x200", class: "prod-img"%>
                  <% if product.on_sale? && params[:sale].blank? %>
                    <p class="diagonal-print">Clearance</p>
                  <% end %>
                  <% if !product.available? %>
                    <p class="diagonal-print">Retired</p>
                  <% end %>
                  <% if product.sold_out? %>
                    <p class="diagonal-print">Sold out</p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <br>
      </div>
    <% end %>
  <% end %>
<% end %>
