 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to root_path, class: "navbar-brand" do %>
                <%= image_tag "heart.png", size: "32x32" %> <div id="my-brand" style="display: inline;"> Bling Karma </div>
              <% end %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

                <ul class="nav navbar-nav navbar-right">
                    <% if user_signed_in? %>
                      <li>
                        <a href="">
                          <p>Welcome <%= current_user.user_name %> </p>
                        </a>
                      </li>
                      <% if !current_user.admin? %>
                        <li>
                          <%= link_to "My cart", show_order_path %>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><%= link_to "My Settings", edit_user_path %></li>
                            <li><%= link_to "My Order History", orders_path %></li>
                          </ul>
                        </li>
                      <% end %>


                      <li>
                        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                      </li>
                    <% else %>
                      <li>
                          <%= link_to "New Customer", "#signupModal", data: {toggle: "modal", target: "#signupModal"} %>
                          <!-- <%= link_to "New Customer", new_user_registration_path %> -->
                      </li>
                      <li>
                          <!-- <%= link_to "Returning Customer", new_user_session_path %> -->
                          <%= link_to "Returning Customer", "#loginModal", data: {toggle: "modal", target: "#loginModal"} %>
                      </li>
                    <% end %>
                </ul>
            </div>
        </div>
  </nav>
  <% if user_signed_in? %>

    <nav class="navbar  navbar-default navbar-static-top" role="navigation">
      <!-- /.container -->
      <div class="container">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
              <% if current_user.admin? %>
                <li class="active">
                    <%= link_to "Products", admin_home_path %>
                </li>
                <li>
                    <%= link_to "Orders", admin_order_path  %>
                </li>
                <li>
                    <%= link_to "Charts", admin_order_charts_path  %>
                </li>
              <% else %>
                <li>
                    <%= link_to "Necklaces", root_path(category: 'Necklace') %>
                </li>
                <li>
                    <%= link_to "Bracelets", root_path(category: 'Bracelet')  %>
                </li>
                <li>
                    <%= link_to "Earrings", root_path(category: 'Earring')  %>
                </li>
                <li>
                    <%= link_to "Clearance", root_path(sale: 'true')  %>
                </li>
              <% end %>
              <li>
                <form action='/', method="get", id="searchbox" class="navbar-form navbar-left">
                    <%= text_field_tag :search, params[:search], placeholder: 'Search', value: "",  class: "form-control typeahead"%>

                  </form>
              </li>
            </ul>
          </div>
      </div>
    </nav>
 <% end %>


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true" class="modal-decor">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h4 class="modal-title" id="myModalLabel">User login</h4>
            </div>
            <div class="modal-body">

              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

                <%= devise_error_messages! %>

                <div><%= f.label :email %><br />

                <%= f.email_field :email, :autofocus => true %></div>

                <div><%= f.label :password %><br />

                <%= f.password_field :password %></div>

                <% if devise_mapping.rememberable? -%>

                <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>

                <% end -%>

                <%= f.submit "Sign in", :class => 'btn btn-primary' %>
              <% end %>

            </div>
            <div class="modal-footer">
            </div>
        </div>
  </div>
</div>



<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h4 class="modal-title" id="mySignUpModalLabel">New User registration</h4>
            </div>
            <div class="modal-body">

              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

                <%= devise_error_messages! %>

                <div><%= f.label :email %><br />

                <%= f.email_field :email, :autofocus => true %></div>

                <div><%= f.label :password %><br />

                <%= f.password_field :password %></div>

                <div><%= f.label :password_confirmation %><br />

                <%= f.password_field :password_confirmation %></div>

                <% if devise_mapping.rememberable? -%>

                <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>

                <% end -%>

                <%= f.submit "Sign up", :class => 'btn btn-primary' %>
              <% end %>

            </div>
            <div class="modal-footer">
            </div>
        </div>
      </div>
</div>
