<!DOCTYPE html>
<html>
<head>
  <title>BlingKarma</title>

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script type="text/javascript" src="http://tympanus.net/Development/Arctext/js/jquery.arctext.js"></script>








</head>
<body class="main">

  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render partial: 'layouts/navbar' %>
    <%= yield %>

  </div>

</body>
</html>

<script>
 $(document).ready(function(){
   $('#my-brand').arctext({radius: 300, dir: -1});
 });

</script>
